#
# Board
#
CONFIG_BOARD_J7VELTE=y

#
# Device tree blob
#
CONFIG_BUILD_ARM64_APPENDED_DTB_IMAGE_NAMES="exynos7870-j7velte_sea_open_00 exynos7870-j7velte_sea_open_01 exynos7870-j7velte_sea_open_03"

#
# Camera
#
CONFIG_CAMERA_J7VE=y
# CONFIG_CAMERA_J7VEIRIS is not set

#
# Panel
#
CONFIG_PANEL_EA8061S_J7VE=y

#
# Sound
#
CONFIG_SND_SOC_COD3026X=y

#
# Sensors
#
CONFIG_SENSORS_K2HH=y
CONFIG_SENSORS_CM36672P=y
# CONFIG_SENSORS_CM36672P_SMART_PERS is not set
